.repository h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}
.repository_person_card a {
  margin-bottom: 10px;
}

.repository_profile_img {
  width: 250px;
  height: 250px;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 250px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
