.table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table th {
  color: #3e4449;
}
.table th,
.table td {
  text-align: left;
  padding: 0.5rem;
}
.table td {
  border-top: 1px solid #dee2e6;
}
.table tr {
  height: 3rem;
}
